:root{
    font-size: 12px;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    user-select: none;
    font-family: sans-serif;
}
.builder-backdrop{
    width: 100vw;
    height: 100vh;
}
.navbar{
    width: 100%;
    background: #eee;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* Toolbar */
.toolbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.tool{
    width: 50px;
    height: 50px;
    background: #eee;
    box-shadow: inset 0px -0.5px 2px 0px rgb(255 255 255 / 60%),
                inset 1px 0.5px 1px 0px rgb(255 255 255 / 60%);
    border-right: 1px solid #ccc;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444;
    cursor: pointer;
}
.tool.active{
    background: #ddd;
    box-shadow:  inset 0px 0px 10px 1px rgb(0 0 0 / 30%);
}
.tool .fas{
    font-size: 18px;
}
/* Creator property popup */
.creator{
    width: 200px;
    height: 100%;
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 100;
    background: #fff;
    border: 1px #ccc solid;
}
.creator-wrapper{
    margin: 0px 5px 5px 5px;
}
.creator-section-title{
    margin-top: 5px;
}
/*.creator:before {
    content: "";
    height: 0;
    width: 0;
    border-bottom: 7px solid #eee;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    left: -10px;
    top: 10px;
    transform: rotate(-90deg);
}*/
.input-container{
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.input-container input{
    width: 60px;
    height: 15px;
    border-radius: 2px;     
    padding: 3px;
    border: none;
    color: #444;
    font-size: 12px;
    font-weight: 100;
    text-transform: uppercase;
}
.input-container input:focus{
    outline: none;
    border: none;
}
.input-container label{
    padding-right: 5px;
    color: #444;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.selection-area{
    position: absolute;
    border-radius: 3px;
    background: rgba(196, 213, 224, 0.3);
    border: 2px solid rgba(196, 213, 224, 0.6);
}

.preview-shape{
    position: absolute;
}

.selected{
    outline: #6a9cdd solid 1px;
}

.drag-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}